@using SpecialtySelector.Data
@model IEnumerable<SpecialtySelector.Models.SubDepartment.AllSubDepartments>

@foreach (var s in Model)
{
    <div class="jumbotron text-center">
        <h2 class="lead text-info">
            Име на направлението: @s.DepatrmentName
        </h2>
        <h3 class="lead">
            Име на поднаправлението: @s.Name
        </h3>
      
        
        <div >
           
            @if (s.Description.Length < 200)
            {
                <h3 style="word-wrap: break-word">@s.Description</h3>
            }
            else
            {
                <h3 style="word-wrap: break-word">@s.Description.Substring(0, 200)...</h3>
            }
            <a class="btn btn-info" href="/SubDepartment/Details/@s.Id">Виж повече</a>
            <a class="btn btn-info" href="/Specialty/SpecialtyInfo/@s.Id">Виж Специалностите</a>
        </div>
        
        
        

        @{if (Request.IsAuthenticated)
            {
                <div class="row">
                    <div class="col-md-6 text-right">
                        @using (Html.BeginForm("Delete", "SubDepartment", new { Id = s.Id }, FormMethod.Post))
                        {
                            <input class="btn btn-danger" type="submit" value="Изтриване" />
                        }
                        @using (Html.BeginForm("Update", "SubDepartment", new { Id = s.Id }, FormMethod.Get))
                        {
                            <input class="btn btn-success" type="submit" value="Редактирай" />
                        }
                    </div>
                </div>
            }
        }
    </div>
    <hr />
            }
