@model IEnumerable<SpecialtySelector.Models.SubDepartment.SubDepartmentInfo>

@{
    ViewBag.Title = "Поднаправления";
}

@if (this.Model.Count() != 0)
{
    foreach (var sbDep in Model)
    {
        <div class="jumbotron text-center lead text-success mt-20">
            <h1 style="word-wrap: break-word">@sbDep.Name</h1>
            @if (sbDep.Description.Length < 200)
            {
                <h3 style="word-wrap: break-word">@sbDep.Description</h3>
            }
            else
            {
                <h3 style="word-wrap: break-word">@sbDep.Description.Substring(0, 200)...</h3>
            }
            <p>
                <a class="btn btn-info" href="\">Назад</a>
                <a class="btn btn-info" href="/SubDepartment/Details/@sbDep.Id">Виж повече</a>
                <a class="btn btn-info" href="/Specialty/SubDepartmentInfo/@sbDep.Id">Виж специалности</a>
            </p>
        </div>
    }
}
else
{
    <div>все още няма нищо тук .....</div>
}