@model IEnumerable<SpecialtySelector.Models.Departments.HomeIndexDepartmentsModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @foreach (var dep in Model)
    {
        <div>@dep.Name</div>
    }
</div>