@using System.ComponentModel.DataAnnotations
@using System.Diagnostics.Eventing.Reader
@using System.Reflection
@model IEnumerable<SpecialtySelector.Models.Specialties.AllSpecialties>

@foreach (var s in Model)
{

    <div class="jumbotron col-md-5 col-xs-offset-1 text-center mt-30 " >
        <h2 class="lead text-info">
            Име на поднаправлението: @s.SubDepartmentName
        </h2>
        <h3 class="lead">
            Име на специалността: @s.Name
        </h3>
        @{
            var modelEqd = s.Eqd;
            var displayEqd = modelEqd
                .GetType()
                .GetMember(s.Eqd.ToString())
                .FirstOrDefault()
                .GetCustomAttribute<DisplayAttribute>()
                .GetName();

            var modelFormOfEducation = s.FormOfEducation;
            var displayFormOfEducation = modelFormOfEducation
                .GetType()
                .GetMember(s.FormOfEducation.ToString())
                .FirstOrDefault()
                .GetCustomAttribute<DisplayAttribute>()
                .GetName();
            <p class="lead">
                Образователна квалификационна степен: @displayEqd
            </p>
            <p class="lead">
                Форма на обучение: @displayFormOfEducation
            </p>
        }
       
        <div>
            <div class="lead">@s.Description</div>
        </div>
        
        @{if (Request.IsAuthenticated)
            {
                <div>
                    @using (Html.BeginForm("Details", "Specialty", new { Id = s.Id }, FormMethod.Get))
                    {
                        <input class="btn btn-info" type="submit" value="Виж повече" />
                    }
                </div>
                <div class="row">
                    <div class="col-md-6 text-right mt-20">
                        @using (Html.BeginForm("Delete", "Specialty", new { Id = s.Id }, FormMethod.Post))
                        {
                            <input class="btn btn-danger" type="submit" value="Изтриване" />
                        }
                    </div>
                    <div class="col-md-6 text-left mt-20">
                        @using (Html.BeginForm("Update", "Specialty", new { Id = s.Id }, FormMethod.Get))
                        {
                            <input class="btn btn-success" type="submit" value="Редактирай" />
                        }
                    </div>

                </div>

            }
            else
            {
                using (Html.BeginForm("Details", "Specialty", new { Id = s.Id }, FormMethod.Get))
                {
                   <input class="btn btn-info" type="submit" value="Виж повече" />
               }
          }
        }
        
    </div>

            }